# Repo & Branch
KERNEL_REPO="https://github.com/Kyura-Ground/android_kernel_asus_sdm660-4.19"
KERNEL_BRANCH="lineage-23.2"
DEFCONFIG="vendor/asus/X00TD_defconfig"

# Toolchain
CLANG_VERSION=1 # 1: Clang r596125, 2: Clang 20 (r547379), 3: PurrrsLitterbox LLVM
CLANG_URL_1="https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/9b144befdfd93b90e02c663504fb9f4b95f9faf8/clang-r596125.tar.gz"
CLANG_URL_2="https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/62cdcefa89e31af2d72c366e8b5ef8db84caea62/clang-r547379.tar.gz"
CLANG_URL_3="https://github.com/PurrrsLitterbox/LLVM-stable/releases/download/llvmorg-22.1.2/clang.tar.zst"

# Build options
BUILD_KSU=0
USE_CCACHE=1
USE_LLVM=1
LTO=0 # 0: Default, 1: Thin, 2: Full
KBUILD_BUILD_USER="Builder"
KBUILD_BUILD_HOST="CI"

# AnyKernel3
ANYKERNEL_REPO="https://github.com/Kyura-Ground/AnyKernel3"
ANYKERNEL_BRANCH="4.19"
